#header {
    display:flex;
    justify-content: space-between;
    flex-wrap: ;
    margin: 20px;
    list-style: none;
}

#codeContainer {
    text-align: center;
}

h1, h2 {
   
    font-size:50px;
}


p {
    font-size:25px
}



#clearScoresBtn,
#goBackBtn,
#startBtn,
#add-initials
{
    background-color: rebeccapurple;
    color: white;
    border-radius: 15px;
    height: 60px;
    width: 400px;
    font-size: 20px;
}

.answer-options {
    background-color: rebeccapurple;
    color:white;
    border-radius: 15px;
    height: 60px;
    width:400px;
    margin: 20px;
    font-size: 20px;
    text-align: left;
    padding-left: 30px;
}


/* form styles */

   

/*  Style to input box */
#initials {
    height: 60px;
    width: 500px;
    border-radius: 15px;
    border-color:none;
} 

/* Style submit button */
/* #add-initials {
    background-color: rebeccapurple;
    color:white;
    height: 50px;
    width:150px;
    padding:0px;
    border-radius:15px;

} */

li {
    list-style-type: none;
}


#codeContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: 
    wrap;
    margin-top: 350px;
}


* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#timer {
    font-size: 20px;
}

#highscoresBtn
{
    background-color: white;
    border: none;
    height: 60px;
    width: 200px;
    font-size: 20px;
    color:blueviolet;
}

button:hover {
    background-color:blueviolet;
    cursor:pointer;
}

#add-initials:hover , #startBtn:hover, 
#clearScoresBtn:hover,
#goBackBtn:hover{
    background-color:blueviolet;
    cursor: pointer;
}

#answerFeedback {
    color:gray;
    font-size:20px;
}

#scoreList {
    font-size:25px
}