/* Variables for repeating properties */
:root {
    --viewScoresBtn-btnHover-color: blueviolet;
    --btn-timer-feedback-fontsize: 20px;
    --btn-box-height: 60px;
    --btn-box-border-radius: 15px;
}


/* Sets font-family for the whole document */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Heading sizes */
h1, h2 {
    font-size:30px;
}

/* Font size for all paragraphs and high scores list */
p, #scoreList {
    font-size:25px
}

/* No list-styles for list items */
li {
    list-style-type: none;
}

/* Makes header a flexbox */
#header {
    display:flex;
    justify-content: space-between;
    margin: 20px;
    list-style: none;
}

/* Makes container holding the quiz elements a flexbox and centers them */
#codeContainer {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; 
    text-align: center;
}

/* General style properties for buttons */
#clearScoresBtn,
#goBackBtn,
#startBtn,
#add-initials, .answer-options
{
    background-color: rebeccapurple;
    color: white;
    border-radius: var(--btn-box-border-radius);
    height: var(--btn-box-height);
    width: 400px;
    font-size: var(--btn-timer-feedback-fontsize);
}

/* Styling for when buttons are hovered over */
#add-initials:hover , #startBtn:hover, 
#clearScoresBtn:hover,
#goBackBtn:hover, .answer-options:hover {
    background-color: var(--viewScoresBtn-btnHover-color);
    cursor: pointer;
}

/* Alignment, margin and padding for the answer option buttons  */
.answer-options {
    margin: 20px;
    text-align: left;
    padding-left: 30px;
}

/* High scores button in header */
#highScoresBtn
{
    background-color: white;
    border: none;
    height: var(--btn-box-height);
    width: 200px;
    font-size: var(--btn-timer-feedback-fontsize);
    color:var(--viewScoresBtn-btnHover-color);
}

/* Changes width of submit button */
#add-initials {
    width:150px;
}

/*  Sets style for input initials box */
#initials {
    height: var(--btn-box-height);
    width: 500px;
    border-radius: var(--btn-box-border-radius);
    border-color:none;
} 

/* Font size of the timer */
#timer {
    font-size: var(--btn-timer-feedback-fontsize);
}

/* Color and size of "correct" and "wrong" messages */
#answerFeedback {
    color:gray;
    font-size: var(--btn-timer-feedback-fontsize);
}